<div class="container home">
    <h1 class="h1">Contact Sure Privacy Policy</h1>
    <div class="row r1">
        <div class="col-sm-12 r1c1">
            <p class="p">Contact Sure (referred to as “Contact Sure” “we” “our” “us”) is committed to protecting and
                respecting
                the privacy of its Customers/ Clients (jointly & separately referred to as “You” or “you”) by
                maintaining the confidentiality of your Personal Data. Contact Sure' Privacy Policy (hereinafter
                referred to
                as “Policy”) is in compliance with the General Data Protection Regulation (GDPR), EU-US Privacy Shield
                Framework, the Swiss-U.S. Privacy Shield Framework and other applicable laws of India, USA and UK
                [collectively referred to as “Data Protection Laws”]. We encourage you to review this Policy carefully
                as by using the Contact Sure community, you provide consent to this Policy and the practices followed by
                us.
            </p>

            <ul class="ul">
                <li class="li li-title">GENERAL</li>
                <ul class="ul">
                    <li class="li-content">Scope: This Privacy Shield Policy sets forth the Privacy principles that
                        Contact Sure follows with respect to transfers of Personal Data between member states of the
                        European Union, Iceland, Liechtenstein and Norway (the European Economic Area or EEA),
                        Switzerland and the United States. Contact Sure is subject to the investigatory and enforcement
                        powers of the Federal Trade Commission (FTC).
                    </li>
                    <li class="li-content">This Policy applies to all the services, websites, portals and Apps
                        (hereinafter referred to as “Services” in this policy) offered by Contact Sure, except where
                        otherwise noted.
                    </li>
                    <li class="li-content">Your privacy is important to us, therefore, we take the protection of your
                        Personal Data very seriously
                    </li>
                </ul>
                <li class="li li-title">PLEDGE ON PRIVACY</li>
                <ul class="ul">
                    <li class="li-content">The term “Personal Data” as used in this Privacy Policy refers to information
                        such as your name, birth date, e-mail address, mailing address, or telephone number that can be
                        used to identify you. Generally, we will only process your Personal Data as described in this
                        Privacy Policy. However, we reserve the right, to conduct additional processing to the extent
                        permitted or required by law, or in support of any legal or criminal investigation. The next
                        sections explain how and when we collect Personal Data from you.</li>
                </ul>
                <li class="li li-title">INTENDED USE OF PERSONAL</li>
                <ul class="ul">
                    <li class="li-content">Data Most of our services do not require any form of registration, allowing
                        you to visit our site without telling us who you are. However, some services may require you to
                        provide us with Personal Data. In these situations, if you choose to withhold any Personal Data
                        requested by us, it may not be possible for you to gain access to certain parts of the site and
                        for us to respond to your query.</li>
                    <li class="li-content">We may collect and use Data to provide you with products or services, to bill
                        you for products and services you request, to market products and services which we think may be
                        of interest to you, or to communicate with you for other purposes which are evident from the
                        circumstances or about which we inform you when we collect Data from you.</li>
                </ul>
                <li class="li li-title">RIGHT OF ACCESS, CORRECTION AND OBJECTION</li>
                <ul class="ul">
                    <li class="li-content">Whenever we process Data, we take reasonable steps to ensure that your Data
                        is kept accurate and up-to date for the purposes for which it was collected. We will provide you
                        with the ability to object to the processing of your Data if such processing is not reasonably
                        required for a legitimate business purpose as described in this policy or our compliance with
                        law. In the case of electronic direct marketing, we will provide you with a method to opt out of
                        receiving further marketing materials or with a method to opt in if required by law. If you wish
                        to contact us regarding our use of your Data or object to the processing of your Personal Data,
                        please email us at info@c-sure.com. If you contact us, please note the name of the website where
                        you provided the information, as well as the specific information you would like us to correct,
                        update or delete plus a proper identification of you. Requests to delete personal data will be
                        subject to any applicable legal and ethical reporting or document filing or retention
                        obligations imposed on us.</li>
                </ul>
                <li class="li li-title">SECURITY AND CONFIDENTIALITY</li>
                <ul class="ul">
                    <li class="li-content">To ensure the security and confidentiality of Personal Data that we collect
                        online, we use data networks protected, by industry standard firewall and password protection.
                        In the course of handling your Personal Data, we take measures reasonably designed to protect
                        that information from loss, misuse, unauthorised access, disclosure, alteration or destruction.
                    </li>
                </ul>
                <li class="li li-title">DATA PRIVACY</li>
                <ul class="ul">
                    <li class="li-content">Everyone expects their personal information to remain confidential. This
                        includes anything that can identify them—name, work and home address, family information,
                        employment or financial details, or more sensitive health information. We strongly condemn the
                        disclosure of any information that could lead to any form of discrimination, as well as the use
                        of identifiable genetic data without informed consent.</li>
                    <li class="li-content">We adhere to all privacy laws and enforce clear policies on protecting
                        personal information, including genetic data. Our data privacy program includes a global
                        organisation and infrastructure as well as procedures and trainings to support local activities
                        and ensure compliance; Contact Sure has a system of principles, rules and tools to ensure
                        effective levels of data protection.</li>
                </ul>
                <li class="li li-title">PERSONAL INFORMATION AND CHILDREN</li>
                <ul class="ul">
                    <li class="li-content">Most of the services available on this site are intended for persons 18 years
                        of age and older. Any individual who requests information about a medicine indicated for use in
                        children must be 18 or over. We will not knowingly collect, use or disclose Personal Data from a
                        minor under the age of 18, without obtaining prior consent from a person with parental
                        responsibility (e.g., a parent or guardian) through direct off-line contact. We will provide the
                        parent with (i) notice of the specific types of personal data being collected from the minor,
                        and (ii) the opportunity to object to any further collection, use, or storage of such
                        information. We abide by laws designed to protect children.</li>
                </ul>
                <li class="li li-title">LINKS TO OTHER SITES</li>
                <ul class="ul">
                    <li class="li-content">This Privacy Policy applies only to this website, and not to websites owned
                        by third parties. We may provide links to other websites which we believe may be of interest to
                        our visitors. We aim to ensure that such websites are of the highest standard. However, due to
                        the nature of the internet, we cannot guarantee the privacy standards of websites to which we
                        link or be responsible for the contents of sites other than this one, and this Privacy Policy is
                        not intended to be applicable to any linked, non-Contact Sure site.</li>
                </ul>
                <li class="li li-title">VERIFICATION AND ENFORCEMENT</li>
                <ul class="ul">
                    <li class="li-content">Contact Sure uses a self-assessment approach to assure compliance with this
                        privacy policy and periodically verifies that the policy is accurate, comprehensive for the
                        information intended to be covered, prominently displayed, completely implemented and accessible
                        and in conformity with the principles. We encourage interested persons to raise any concerns
                        using the contact information provided and we will investigate and attempt to resolve any
                        complaints and disputes regarding use and disclosure of Personal Information in accordance with
                        the Principles. If a complaint or dispute cannot be resolved through our internal process, we
                        agree to dispute resolution using (an independent resource mechanism) as a third party
                        resolution provider. It is possible, under certain conditions, for an individual to invoke
                        binding arbitration.</li>
                </ul>
                <li class="li li-title">IN COMPLIANCE</li>
                <ul class="ul">
                    <li class="li-content">
                        In compliance with the Privacy policy, Contact Sure commits to resolve complaints about our
                        collection or use of your personal information should first connect Contact Sure at:
                        Address:- The Capital B, Office No 501,5th Floor, Baner-Pashan Link road, Baner, Pune.
                        Maharashtra - 411045
                        Email: info@c-sure.com.
                        Phone: (408) 844-4677/ + (91) 7887-888-756.
                    </li>
                </ul>
                <li class="li li-title">REFUND POLICY</li>
                <ul class="ul">
                    <li class="li-content">Ensuring safe billing and transactions.</li>
                    <li class="li-content">Clients are willing to provide certain credit card and billing information in
                        order to purchase Contact Sure services. That information is transferred, using the most safe
                        transmission technology, to a trusted third party for processing. The information is then
                        encrypted and securely stored to handle your transactions.</li>
                    <li class="li-content">Contact Sure do not offer refunds for any purchases made on c-sure.com as the
                        product bought is a digital product and it is not possible to verify that the buyer has truly
                        deleted the product from their computer. Our policy is also to ensure there is no abuse.</li>
                    <li class="li-content">To ensure that our buyers get exactly what they are looking for and there is
                        no doubt in what the product it, (1) we offer a sample for every product so you know what the
                        full product will look like (2) you can email or call us for any question. </li>
                    <li class="li-content">If you have any questions or need help, please send us an email at
                        info@c-sure.com</li>
                </ul>
            </ul>
        </div>
    </div>
</div>