<div class="container-fluid testimonials">
    <div class="row r1">
        <div class="testimonials-title">
            <h3 class="h3" data-aos="fade-up" data-aos-duration="1000">Testimonials</h3>
        </div>
        <div class="col-sm-4 c1 mt-5 mb-5">
            <mat-card class="mat-card" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700">
                <mat-card-content class="mat-card-content">
                    <p class="p pt-4 pb-4">"Anosales LLC has a terrific support team to refine and build marketing
                        campaigns. I highly recommend Anosales LLC. The employees are amazing!"</p>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer pt-4 pb-4">
                    <mat-card-subtitle class="mat-card-subtitle">- Larry, Alliance Manager at a US based Manufacturing
                        Company</mat-card-subtitle>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-sm-4 c2 mt-5 mb-5">
            <mat-card class="mat-card" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
                <mat-card-content class="mat-card-content">
                    <p class="p pt-4 pb-4">In this day of "do more with less" we all have to work smarter and faster. I
                        dont know a better way to do it than to utilize the clean, accurate and authentic data that
                        Anosales LLC helps us unearth. I am impressed by the combination of speed, quality and potential
                        of the Anosales LLC team. We appreciate our association with Anosales LLC and look forward to
                        continuing.</p>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer pt-4 pb-4">
                    <mat-card-subtitle class="mat-card-subtitle">- Ankit, Marketing Manager for Europe & ANZ region at
                        an Indian Procurement Firm</mat-card-subtitle>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-sm-4 c3 mt-5 mb-5">
            <mat-card class="mat-card" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <mat-card-content class="mat-card-content">
                    <p class="p pt-4 pb-4">We used to use internal members of staff but now always use Anosales LLC for
                        contact discovery and profiling. They are professional, well priced and easy to work with.</p>
                </mat-card-content>
                <mat-card-footer class="mat-card-footer pt-4 pb-4">
                    <mat-card-subtitle class="mat-card-subtitle">- Andrew, Director at a UK based Marketing
                        firm</mat-card-subtitle>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>